In [35]:
# encoding:utf-8

import requests
import base64
import os
import glob
import pandas as pd

'''
植物识别
'''
if __name__ == '__main__':
    basepath = r"E:\论文\草地植物分类\test_rename"
    request_url = "https://aip.baidubce.com/rest/2.0/image-classify/v1/plant"
    data = pd.read_excel(r"E:\论文\草地植物分类\测试\百度识图测试\百度识图植物识别测试结果1.xlsx")
    flist = data["Filename"].to_list()
    df = pd.DataFrame(columns=["Filename","PlantName","top1_classname","top1_prob","top5_classname","top5_prob"])
    # 二进制方式打开图片文件
    image_list = glob.glob(os.path.join(basepath,"*","*.jpg"))
    for i,f in enumerate(image_list):
        if f in flist:
            continue
        try:
            fid = open(f, 'rb')
            img = base64.b64encode(fid.read())
            params = {"image":img}
            access_token = '24.ac5315816ccc5d9c55e385000626bbce.2592000.1689045988.282335-34654121'
            request_url = request_url + "?access_token=" + access_token
            headers = {'content-type': 'application/x-www-form-urlencoded'}
            response = requests.post(request_url, data=params, headers=headers)
            if response:
                df.loc[i,"Filename"] = f
                df.loc[i,"PlantName"] = os.path.basename(f).split("_")[0]
                result = response.json()["result"]
                plantname = [j["name"] for j in result]
                score = [j["score"] for j in result]
                df.loc[i,"top1_classname"] = plantname[0]
                df.loc[i,"top1_prob"] = score[0]
                df.loc[i,"top5_classname"] = plantname
                df.loc[i,"top5_prob"] = score
        except Exception as e:
            print(e)
        finally:
            print(f"{i}:{f}")
    with pd.ExcelWriter(r"E:\论文\草地植物分类\测试\百度识图测试\百度识图植物识别测试结果1.xlsx") as writer:
        df.to_excel(writer)

In [36]:
df

Empty DataFrame
Columns: [Filename, PlantName, top1_classname, top1_prob, top5_classname, top5_prob]
Index: []

In [1]:
###按照某个字段去除重复行
import os
import pandas as pd

if __name__ == '__main__':
    fname = r"E:\论文\草地植物分类\测试\花伴侣测试\花伴侣测试结果.xlsx"
    data = pd.read_excel(fname)
    data_dropdrop = data.drop_duplicates(["Filename"])
    with pd.ExcelWriter(r"E:\论文\草地植物分类\测试\花伴侣测试\花伴侣测试结果1.xlsx") as writer:
        data_dropdrop.to_excel(writer)

,Unnamed: 0,Filename,PlantName,top1_classname,top1_prob,top5_classname,top5_prob
0,0,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,蓍,0.725437,"['蓍', '蛇床', '高山蓍']","[0.7254373, 0.15852666, 0.06850578]"
1,1,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,蓍,0.749622,"['蓍', '蛇床', '高山蓍']","[0.74962187, 0.09765284, 0.06245964]"
2,2,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,蓍,0.663341,"['蓍', '高山蓍', '亚洲蓍']","[0.6633406, 0.13245314, 0.037139885]"
3,3,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,水芹,0.475441,"['水芹', '蓍', '高山蓍']","[0.47544116, 0.32192203, 0.12920031]"
4,4,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,蓍,0.697615,"['蓍', '高山蓍', '亚洲蓍']","[0.6976154, 0.1808427, 0.05028676]"
...,...,...,...,...,...,...,...
7451,7065,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,胡椒木,0.534752,"['胡椒木', '清香木', '青花椒']","[0.5347522, 0.33574772, 0.062112108]"
7452,7066,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,青花椒,0.690188,"['青花椒', '花椒', '簕欓花椒']","[0.69018775, 0.22533786, 0.19801325]"
7453,7067,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,非植物,0.247922,['非植物'],[0.24792172]
7454,7068,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,青花椒,0.929228,"['青花椒', '当归藤', '胡椒木']","[0.92922795, 0.06139351, 0.043508537]"
7455,7069,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,簕欓花椒,0.968987,"['簕欓花椒', '青花椒', '贵州花椒']","[0.968987, 0.009944729, 0.008270194]"

,Unnamed: 0,Filename,PlantName,top1_classname,top1_prob,top5_classname,top5_prob
0,0,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,蓍,0.725437,"['蓍', '蛇床', '高山蓍']","[0.7254373, 0.15852666, 0.06850578]"
1,1,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,蓍,0.749622,"['蓍', '蛇床', '高山蓍']","[0.74962187, 0.09765284, 0.06245964]"
2,2,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,蓍,0.663341,"['蓍', '高山蓍', '亚洲蓍']","[0.6633406, 0.13245314, 0.037139885]"
3,3,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,水芹,0.475441,"['水芹', '蓍', '高山蓍']","[0.47544116, 0.32192203, 0.12920031]"
4,4,E:\论文\草地植物分类\test_rename\Achillea asiatica\Ach...,Achillea asiatica,蓍,0.697615,"['蓍', '高山蓍', '亚洲蓍']","[0.6976154, 0.1808427, 0.05028676]"
...,...,...,...,...,...,...,...
7451,7065,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,胡椒木,0.534752,"['胡椒木', '清香木', '青花椒']","[0.5347522, 0.33574772, 0.062112108]"
7452,7066,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,青花椒,0.690188,"['青花椒', '花椒', '簕欓花椒']","[0.69018775, 0.22533786, 0.19801325]"
7453,7067,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,非植物,0.247922,['非植物'],[0.24792172]
7454,7068,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,青花椒,0.929228,"['青花椒', '当归藤', '胡椒木']","[0.92922795, 0.06139351, 0.043508537]"
7455,7069,E:\论文\草地植物分类\test_rename\Zanthoxylum schinifol...,Zanthoxylum schinifolium,簕欓花椒,0.968987,"['簕欓花椒', '青花椒', '贵州花椒']","[0.968987, 0.009944729, 0.008270194]"

In [12]:
import os
import pandas as pd
import glob
if __name__ == '__main__':
    inpath = r"E:\论文\草地植物分类"
    df = pd.read_excel(os.path.join(inpath,"百度植物识图测试结果.xlsx"))
    for i in range(1,75):
        fname = os.path.join(inpath,f"百度植物识图测试结果{i}.xlsx")
        data = pd.read_excel(fname)
        df = pd.concat([df,data],axis=0)
    with pd.ExcelWriter(os.path.join(inpath,"百度识图植物识别测试结果.xlsx")) as writer:
        df.to_excel(writer)

In [1]:
#将百度识图结果与植物信息表关联起来
import os
import pandas as pd

if __name__ == '__main__':
    model_lable = r"E:\论文\草地植物分类\测试\百度识图测试\百度识图植物识别测试结果_去重后.xlsx"
    info_table = r"E:\论文\草地植物分类\植物信息表_new(831).xlsx"
    df_lable = pd.read_excel(model_lable)
    df_info = pd.read_excel(info_table)
    result = pd.merge(df_info,df_lable, on=['PlantName','PlantName'], how='left')
    with pd.ExcelWriter(r"E:\论文\草地植物分类\测试\百度识图测试\百度识图测试结果_classinfo.xlsx") as writer:
        result.to_excel(writer)

In [2]:
#对百度识图的测试结果和实际结果进行比对
import os
import pandas as pd

if __name__ == '__main__':
    inpath = r"E:\论文\草地植物分类\测试\百度识图测试"
    df = pd.read_excel(os.path.join(inpath,"百度识图测试结果_classinfo.xlsx"))
    rows,cols = df.shape
    for i in range(rows):
        try:
            df.loc[i,"top1_test_lable"] = 1 if df.loc[i,"中文名"] == df.loc[i,"top1_classname"] else 0
            df.loc[i,"top5_test_lable"] = 1 if df.loc[i,"中文名"] in df.loc[i,"top5_classname"] else 0
        except Exception as e:
            print(e)
    with pd.ExcelWriter(os.path.join(inpath,"百度识图_parser.xlsx")) as writer:
        df.to_excel(writer)

'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
argument of type 'float' is not iterable
argument of type 'float' is not iterable
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
argument of type 'float' is not iterable
argument of type 'float' is not iterable
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
argument of type 'float' is not iterable
argument of type 'float' is not iterable
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
'in <string>' requires string as left operand, not float
argument of type 'float' is not iterable
argument of type 'float' is not iterable
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
'in <string>' requires string as left operand, not float
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable
argument of type 'float' is not iterable

In [1]:
##花伴侣识别结果按类统计
#将分类表和推理表进行匹配，方便后续分类进行统计
import pandas as pd
import matplotlib.pyplot as plt

if __name__ == '__main__':
    infer_table = r"E:\论文\草地植物分类\测试\百度识图测试\百度识图_parser.xlsx"
    infer_df = pd.read_excel(infer_table)
    infer_df_sum = infer_df.groupby(by=["PlantName"])["top1_test_lable","top5_test_lable"].sum()     #统计每个种类top1和top5预测正确数量

C:\Users\kbqin\AppData\Local\Temp\ipykernel_10724\3966092165.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  infer_df_sum = infer_df.groupby(by=["PlantName"])["top1_test_lable","top5_test_lable"].sum()     #统计每个种类top1和top5预测正确数量

In [4]:
infer_df_sum.loc[infer_df_sum.top1_test_lable > 0,]

                          top1_test_lable  top5_test_lable
PlantName
Achillea millefolium                 23.0             25.0
Aconitum kusnezoffii                  7.0             15.0
Acorus calamus                       14.0             16.0
Actaea dahurica                       3.0              7.0
Actinostemma tenerum                 19.0             22.0
...                                   ...              ...
Viola variegata                       7.0              8.0
Xanthium strumarium                  31.0             31.0
Zanthoxylum schinifolium              4.0              8.0
Zizania latifolia                     9.0              9.0
Zygophyllum xanthoxylum               8.0              8.0

[509 rows x 2 columns]